<!DOCTYPE html>
<html lang="ru">
  {% load static %}
  <head>    
    {% include 'includes/head.html'%}
    <title>
      {% block title %}
      Вы вышли из системы
      {% endblock %}
    </title>
  </head>
  <body>	   
    <header>
      {% include 'includes/header.html' %}
    </header>
    <main>
      {% block content %}
      <div class="container py-5"> 
        <div class="row justify-content-center">
          <div class="col-md-8 p-5">
            <div class="card">
              <div class="card-header">Выход</div>
              <div class="card-body"> <p>Вы вышли из своей учётной записи. Ждём вас снова!</p>
              </div> <!-- card body -->
            </div> <!-- card -->
          </div> <!-- col -->
        </div> <!-- row --> 
      </div>
      {% endblock %}
    </main>
	  <footer> 
      {% include 'includes/footer.html'%}   
    </footer>
  </body>
</html>